@import "compass_twitter_bootstrap_awesome";
$iconSpritePath:          "img/glyphicons-halflings.png";
$iconWhiteSpritePath:     "img/glyphicons-halflings-white.png";

th .active{
  color: #000000;
}
